* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  overflow-x: hidden;
}
nav {
  width: 100%;
  height: 45px;
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 5;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
	font-family: "GOTHICB";
  font-weight: bold;
}
.more-nav {
	display: none;
}
h1, h2, h3, h5 {
  font-family: "GOTHICB";
  font-weight: bold;
}
h5 {
  color: #333333;
  font-size: 12px;
  padding-bottom: 5px;
}
h1 {
  font-size: 24px;
  padding-bottom: 4px;
}
p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
  font-size: 18px;
}

main {
  background-color: #f0f0f0;
}
.small, .pict {
  padding-top: 8%;
}
footer {
  background-color: #101010;
  height: 212px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 28px 5%;
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
}
/* .facebook {
  position: relative;
  top: -8px;
} */
.footer-inf-1 {
  padding-top: 21px;
  line-height: 150%;
  width: 309px;
  color: #fff;
  font-size: 16px;
}
.footer-inf-1 a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.name {
  margin-top: 38px;
}
.footer-inf-2 {
  width: 142px;
  color: #fff;
  font-size: 16px;
}
.footer-inf-2 a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer-inf-2 h6 {
  font-size: 18px;
  padding-top: 22px;
  padding-bottom: 6px;
  font-family: "GOTHICB";
  font-weight: bold;
}
.author-name {
  padding-bottom: 10px;
}
.hse-logo {
  width: 20vw;
  align-self: center;
}
.icon {
  display: flex;
  justify-content: space-around;
  align-self: center;
  height: 4vw;
  width: 13vw;
}
.icon img {
  width: 3vw;
}
@media screen and (max-width: 550px) {
  h1 {
    left: 4%;
    font-size: 24px;
    padding-bottom: 14px;
    position: relative;
    display: inline-block;
    z-index: 3;
    padding-left: 0.02em;
    margin-left: 3%;
  }
  h1:before {
    content: '';
    position: absolute;
    height: 12px;
    background: #FDE40E;
    /* top: 50%; */
  }
  h1:before{
    z-index: -1;
    right: -0.8rem;
    top: 37%;
    padding-right: 1.5rem;
    width: 100%;
  }
  .small, .pict {
    width: 100vw;
    padding-top: 65px;
  }
  .right-pic {
    width: 130vw;
  }
  .whole-book img{
    width: 130vw;
  }
  .left {
    height: 590px;
  }
  .right {
    height: 525px;
  }
  .left-pic {
    width: 90vw;
    margin-left: -40px;
    margin-top: 30px;
  }
  .left-info {
  padding-top: 10px;
  padding-left: 5%;
}
.right-info {
    padding-top: 26px;
    padding-left: 5%;
  }
  p {
    color: #000;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 22px;
    width: 348px;
  }
  .patterns {
    height: 500px;
  }
  .patterns img {
    margin-top: 30px;
  }
  .pat-book {
    margin-left: -32%;
  }
  .small-pat {
    margin-top: -73px;
  }
  .small-pat img {
    width: 20vw;
  }
  .patrns {
    display: flex;
    flex-direction: column-reverse;
  }
  .whole-book {
    display: flex;
    align-items: center;
    height: 360px;
  }
  .real-part {
    height: 560px;
  }
  .real {
    margin-top: 30px;
  }
  footer {
    flex-direction: column;
    height: 450px;
  }
  .footer-inf-1 {
    width: 276px;
  }
}
@media screen and (min-width: 768px) {
  nav {
    height: 68px;
    justify-content: flex-start;
  }
  nav {
    height: 68px;
    display: flex;
    height: 68px;
    justify-content: space-between;
  }

  .first {
    height: 50px;
  }
  .last {
    display: unset;
  }
  .small, .pict {
    width: 46vw;
    margin-bottom: 70px;
    padding-top: 0;
  }
  .right {
    /* паддинг потом убери */
    padding-top: 100px;
    height: 460px;
    display: flex;
  }
  .right-pic {
    width: 60vw;
    height: 40vw;
    margin-left: -8%;
  }
  h1 {
    left: 4%;
    font-size: 50px;
    padding-bottom: 43px;
    position: relative;
    display: inline-block;
    z-index: 3;
    padding-left: 0.02em;
    margin-left: 3%;
  }
  h1:before {
    content: '';
    position: absolute;
    height: 26px;
    background: #FDE40E;
    /* top: 50%; */
  }

  h1:before{
    z-index: -1;
    right: -1.1rem;
    /* left: 0.1rem; */
    top: 34%;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    width: 100%;
  }
  h3 {
    padding-left: 5%;
    font-size: 36px;
    padding-bottom: 25px;
  }
  p {
    font-size: 18px;
    width: 349px;
    margin-left: 5%;
  }
  .right-info {
    padding-left: 7%;
  }
  .patterns {
    padding-top: 100px;
    height: 650px;
    display: flex;
    margin-left: -8%;
  }
  .patterns img {
    width: 69vw;
    height: 45vw;
    margin-top: -120px;
  }
  .small-pat {
    display: flex;
  }
  .small-pat img {
    padding-left: 6%;
    width: 12vw;
    height: 8vw;
  }
  .patrns {
    display: flex;
    height: 311px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -128px;
  }
  .left {
    display: flex;
    flex-direction: row-reverse;
    height: 570px;
    align-items: flex-end;
  }
  .left-pic {
    margin-left: -41px;
    width: 56vw;
    height: 34vw;
  }
  .left-info {
    margin-bottom: 100px;
  }
  .left-h {
    right: calc(-50% - 28px);
    top: 88px;
  }
  .left-pic {
    margin-left: -10%;
    width: 56vw;
    height: 34vw;
  }
  .left-info {
    margin-bottom: 160px;
  }
  .whole-book img {
    width: 100vw;
  }
  .navigation-part {
    display: flex;
    flex-direction: row-reverse;
  }
  .navig {
    height: 500px;
    display: flex;
    justify-content: space-between;
  }
  .navig img {
    width: 45vw;
  }
  .real-part {
    display: flex;
    flex-direction: row;
    height: 560px;
  }
  .real {
    width: 47vw;
    height: 30vw;
  }
  .real-part p {
    padding-left: 8%;
    width: 488px;
  }
  footer p {
    color: #fff;
    margin-left: 0%;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    height: 68px;
    justify-content: flex-start;
  }

  .more-nav {
    display: unset;
    padding-left: 102px;
  }
  .more-nav a {
    display: inline-block;
    line-height: 0.2;
    text-decoration: none;
    cursor: pointer;
  }
  .more-nav a:after {
    background-color: #FDE40E;
    display: block;
    content: "";
    width: 0%;
    height: 3px;
    margin-left: -10px;

    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
  }
  .more-nav a:hover:after,
  .more-nav a:focus:after {
    width: 100%;
    padding-left: 20px;
  }
  .more-nav a {
    padding-right: 30px;
  }
  .more {
    cursor: pointer;
  }
  .first {
    height: 50px;
  }
  .last {
    display: none;
  }
  .small, .pict {
    width: 55vw;
    margin-bottom: 70px;
    padding-top: 0;
  }
  .right {
    /* паддинг потом убери */
    padding-top: 100px;
    height: 460px;
    display: flex;
  }
  .right-pic {
    width: 60vw;
    height: 40vw;
    margin-left: -8%;
  }
  h1 {
    left: 4%;
    font-size: 50px;
    padding-bottom: 43px;
    position: relative;
    display: inline-block;
    z-index: 3;
    padding-left: 0.02em;
    margin-left: 3%;
  }
  h1:before {
    content: '';
    position: absolute;
    height: 26px;
    background: #FDE40E;
    /* top: 50%; */
  }

  h1:before{
    z-index: -1;
    right: -1.1rem;
    /* left: 0.1rem; */
    top: 34%;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    width: 100%;
  }
  h3 {
    padding-left: 5%;
    font-size: 36px;
    padding-bottom: 25px;
  }
  p {
    font-size: 20px;
    width: 434px;
    margin-left: 5%;
  }

  .patterns {
    padding-top: 100px;
    height: 650px;
    display: flex;
    margin-left: -8%;
  }
  .patterns img {
    width: 69vw;
    height: 45vw;
    margin-top: -120px;
  }
  .small-pat {
    display: flex;
  }
  .small-pat img {
    padding-left: 6%;
    width: 12vw;
    height: 8vw;
  }
  .patrns {
    display: flex;
    height: 311px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -128px;
  }
  .left {
    display: flex;
    flex-direction: row-reverse;
    height: 660px;
    align-items: center;
  }
  .left-pic {
    margin-left: -41px;
    width: 56vw;
    height: 34vw;
  }
  .left-info {
    margin-bottom: 100px;
  }
  .left-h {
    right: calc(-50% - 28px);
    top: 88px;
  }
  .left-pic {
    margin-left: -10%;
    width: 56vw;
    height: 34vw;
  }
  .left-info {
    margin-bottom: 160px;
  }
  .whole-book img {
    width: 100vw;
  }
  .navigation-part {
    display: flex;
    flex-direction: row-reverse;
  }
  .navig {
    height: 500px;
    display: flex;
    justify-content: space-between;
  }
  .navig img {
    width: 45vw;
  }
  .real-part {
    display: flex;
    flex-direction: row;
    height: 560px;
  }
  .real {
    width: 47vw;
    height: 30vw;
  }
  .real-part p {
    padding-left: 8%;
    width: 488px;
  }
  footer p {
    color: #fff;
    margin-left: 0%;
  }
}
